#screenshots
<img src="https://codeberg.org/pfr/NetBSD/raw/branch/master/home/Pictures/dumps/clouds.png" rel="nix" />
<img src="https://codeberg.org/pfr/NetBSD/raw/branch/master/home/Pictures/dumps/rice.png" rel="nix" />
<img src="https://codeberg.org/pfr/NetBSD/raw/branch/master/home/Pictures/dumps/purple.png" rel="nix" />
<img src="https://codeberg.org/pfr/NetBSD/raw/branch/master/home/Pictures/dumps/weechat.png" rel="nix" />
<img src="https://codeberg.org/pfr/NetBSD/raw/branch/master/home/Pictures/dumps/rasputin.png" rel="nix" />
<img src="https://codeberg.org/pfr/NetBSD/raw/branch/master/home/Pictures/dumps/skippyxd.png" rel="nix" />
